body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Todo div , button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
img {
  width: 150px;;
}