@font-face {
  font-family: "Poppins";
  src: url("Font/Poppins-Black.ttf")format("opentype");
}

body {
  display: flex;
  font-family: Poppins;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('logo.svg');
  background-size: 64px;
}
 .Todo  button{
  display: flex;
  justify-content: Center;
} 
ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#list li::before {
  content: "";
  width: 24px;
  height: 32px;
  background-image: url("media/circle-solid-full.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  left: 2px;
}
ul li span{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 20px;
  background-color: rgb(0,0,0,0);
  background-image: url('media/x-close-delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
span:hover{
  background-color: gray;
}
#inputbox {
  display: flex;
  flex-direction: space-between;
}
#inputbox button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url('media/add-new-plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding: 20px;
  border: none;
}
.Todo input {
  background-color: rgb(245,245,245) ;
  padding: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  border: none;
  border-radius: 20px;
  outline: none;
  
}
.Todo {
  background-color: rgb(255,255,255,0.65);
  transform: scale(1);
  margin-top: 100%;
  margin-bottom: 100%;
  padding: 30px;
  margin-left: 100%;
  margin-right: 100%;
  border-radius: 30px;
}
.done {
  text-decoration: line-through;
  color: rgb(0,0,0,0.5);
  
}
#list li.done::before{
  background-image: url('media/circle-check-solid-full.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
}